/* components/LoginCard.module.css */

.card {
  aspect-ratio: 1 / 1;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 70vmin;
}

.card::before {
  background: linear-gradient(130deg, transparent 0% 33%, var(--g1) 66%, var(--g2) 83.5%, var(--g3) 100%);
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-position 350ms ease;
  width: 100%;
  z-index: 1;
}

.card:hover::before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.03);
}

.cardContent {
  position: relative;
  z-index: 2;
  /* untuk warna ganti 3 value pertama transparansi diatur 0.2  ukuran diatur 8% pertama, transparansi ngatur ketajaman lingkaran*/
  background: radial-gradient(rgba(0, 0, 0, 0.2) 8%, transparent 8%); 
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: 100%;
  padding: 5vmin;
  transition: background-position 350ms ease;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card:hover > .cardContent {
  background-position: -10% 0%;
}

.cardTitle {
  font-size: 6vmin;
  position: relative;
  z-index: 3;
  color: black;
}

.cardSubtitle,
.defaultText {
  font-size: 3vmin;
  margin-top: 2vmin;
  color: black;
}

.cardSubtitleWord {
  display: inline-block;
  margin: 0 0.3vmin;
  opacity: 0;
  position: relative;
  transform: translateY(40%);
  transition: none;
}

.card:hover > .cardContent > .cardSubtitle > .cardSubtitleWord {
  opacity: 1;
  transform: translateY(0%);
  transition: transform 200ms cubic-bezier(0.9, 0.06, 0.15, 0.9);
}

.divider {
  position: relative;
  width: 0;
  height: 1px;
  background-color: transparent;
  margin: 1vmin auto;
  overflow: hidden;
  transition: width 0.5s ease;
}

.divider::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: width 0.4s ease;
}

.card:hover .divider {
  width: 90%;
}

/* Nyembunyiin default */
.hoverHidden {
  content: "";
  opacity: 1;
  transition: opacity 0.5s ease;
}

.card:hover .hoverHidden {
  opacity: 0;
}



